<h1><%= link_to @artist.name, @artist %>'s Albums </h1>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Album Name</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @artist.all_albums.each.with_index(1) do |album_name, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= album_name %></td>
        <td>
          <% album = Album.find_by(artist: @artist, name: album_name) %>
          <% if album %>
            <%= link_to 'View Album', artist_album_path(@artist, album) %>
          <% else %>
            <%= form_with model: [@artist, @new_album] do |f| %>
              <%= f.hidden_field :artist_id, value: @artist.id %>
              <%= f.hidden_field :name, value: album_name %>
              <%= f.submit 'Create Album', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>