<p id="notice"><%= notice %></p>

<h1><%= @artist.name %></h1>

<h3>Tracks:</h3>
<div class="row">
  <% @artist.tracks.each do |track| %>
    <div class="col-md-4 text-center">
      <%= link_to track.name, artist_track_path(@artist, track) %><br>
      <%= content_tag :iframe, '', src: "https://open.spotify.com/embed?uri=#{track.spotify_uri}", width: 300, height: 300, frameborder: false %>
    </div>
  <% end %>
</div>

<br>

<h3>Albums:</h3>
<div class="row">
  <% @artist.albums.each do |album| %>
    <div class="col-md-4 text-center">
      <%= link_to album.name, artist_album_path(@artist, album) %><br>
      <%= content_tag :iframe, '', src: "https://open.spotify.com/embed?uri=#{album.spotify_uri}", width: 300, height: 300, frameborder: false %>
    </div>
  <% end %>
</div>

<%= link_to 'Related Artists', related_artists_artist_path(@artist) %> |
<%= link_to 'Top Tracks', top_tracks_artist_path(@artist) %> |
<%= link_to 'Albums', all_albums_artist_path(@artist) %> |
<%= link_to 'Create New Track', new_artist_track_path(@artist) %>

