<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %></h1>

<% if @user.playlists.empty? %>
  <p>You don't have playlists yet! Add a playlist with the below.</p>
  <br>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= render 'playlists/form', playlist: @playlist %>
    </div>
  </div>
<% else %>
  <h3>Playlists:</h3>

  <ul>
    <% @user.playlists.each do |playlist| %>
      <li><%= link_to playlist.name, playlist %> - Created on <%= playlist.created_at_formatted %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Destroy Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> 
