<p id="notice"><%= notice %></p>

<h1><%= link_to @user.first_name, @user %>'s Playlists </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Playlist Name</th>
      <th scope="col">Creator</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each.with_index(1) do |playlist, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= link_to playlist.name, playlist %></td>
        <td>
          <%= playlist.user.first_name %>
        </td>
         <td>
          <%= playlist.created_at_formatted %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
