<p id="notice"><%= notice %></p>

<div class="container">
    <div class="page-header">
      <strong>Playlist Name:   </strong><%=@playlist.name %><br>
      <strong>Playlist Creator:   </strong><%= @playlist.user.first_name %><br>
      <strong>Created On:   </strong><%= @playlist.created_at_formatted %><br>
    </div>
</div>

<% if @playlist.tracks.blank? %>
	<div class="row">
	    <div class="col-md-5 text-center">
	      <p> Click the button below to add a track to your playlist! </p> <br>
	    </div>
	</div>
 <% else %>
	 <table class="table">
	  <thead>
	    <tr>
	      <th scope="col"></th>
	      <th scope="col">Track Name</th>
	      <th scope="col">Artist Name</th>
	  </thead>

	  <tbody>
	    <% @playlist.tracks.each.with_index(1) do |track, index| %>
	      <tr>
	        <th scope="row"><%= index %></th>
	        <td><%= link_to track.name, artist_track_path(track.artist, track) %></td>
	        <td>
	          <%= link_to track.artist.name, track.artist %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
 <% end %>

 <br>

 <%= button_to "Add Track", { :action => "add_track" }, :method => :get %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
